#center-column {
  padding-bottom: 0;
}

#center-column .row {
  border-bottom: 1px solid #ddd;
}

#center-column .row:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.required.alert {
  padding: 5px;
  margin-left: 5px;
}

#required-to-submit {
  padding: 7px;
  margin-left: 10px;
}

.form-group.row {
  padding-bottom: 10px;
}

#file-upload {
  height: 60px;
  border: 2px solid #fff;
  padding: 20px;
  border: 2px dashed #ddd;
  text-align: center;
}

#file-upload.drag {
  background-color: #ffdddd;
}

#name-file-upload{
  height: 60px;
  border: 2px solid #fff;
  padding: 20px;
  border: 2px dashed #ddd;
  text-align: center;
}

#name-file-upload.drag {
  background-color: #ffdddd;
}

.concentration-input {
  margin-top: 2px;
}

.concentration-input>span {
  padding-right: 10px;
  width: 60%;
  display: inline-block;
}

.concentration-input>input {
  width: 40%;
  display: inline-block;;
}

.match-height {
  height: 60px;
}

ol>li {
  margin-top: 10px;
}
  
#folder-name {
  background-color: white;
}